body {
  font-family: Arial;
  font-weight: bold;
  font-size: 20pt;
  color: #777;
  background-color: #777;
  overflow: hidden;
}

#draggablemap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #f5f5f5;
  text-align: center;
  cursor: move;
  overflow: hidden;
  transform: scale(1);
}

canvas {
  padding: 0;
  display: block;
  overflow: hidden;
}

#mapgrid {
  z-index: 0;
  position: relative;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10000;
  background-color: #ddd;
  font-size: 12pt;
  text-align: center;
  border-style: outset;
  border-radius: 8px;
  padding: 12px;
}

#form_landmark {
  display:none;
  height: 300px;
}

#form_landmark_grid {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 10px;
}

#form_landmark_images {
  display: grid;
  text-align: center;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #CCC;
  overflow-y: scroll;
  height: 250px;
}

.form_landmark_images_item {
  max-width: 120px;
  max-height: 120px;
  border-radius: 8px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}

#form_landmark_name {
  height: 36px;
  overflow-y: auto;
}

#form_landmark_description {
  max-height: 250px;
  background-color: #CCC;
  overflow-y: scroll;
}

#button_landmark_close {
  background-color: #BBB;
  color: white;
  font-size: 16pt;
  margin-left: calc(100% - 30px);
  margin-right: 0;
}
